:root {
    --color-pallete-dark-blue: #3D405B;
    --color-pallete-very-light-tan: #F4F1DE;
    --color-pallete-dark-mustard: #F2CC8F;
    --font-size-normal: 16px;
    --font-size-huge: 42px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    display: flex;
    flex-direction: column;
}