:root {    
    --font-size-normal: 16px;
    --font-size-huge: 42px;
    --page-content-width: 1800px;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}